{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Saved Successfully</title>
    <link rel="stylesheet" href="{% static 'msg.css' %}">
</head>

<body>

    <div class="container">
        {% if error %}
        <div class="message-container error">
            <img src="media/images/error.jpg" alt="error" class="message-icon">
            <h1>{{p1}} {{p2}} {{p3}} {{p4}} {{p5}} {{p6}} {{p7}}</h1>
            <button class="home-btn" onclick="window.history.back();">Go Back</button>
        </div>
        {% else %}
        <div class="message-container success">
            <img src="media/images/success.jpg" alt="success" class="message-icon">
            {% if b %}
            <h1>Work Deleted Successfully!</h1>
            <p>Your work has been deleted. You can now go back to the home page.</p>
           
            {% else %}
            <h1>Work Saved Successfully!</h1>
            <p>Your work has been saved. You can now go back to the home page.</p>
            {% endif %}
            <button class="home-btn">
                <a href="home" class="home-link">Return to Home Page</a>
            </button>
        </div>
        {% endif %}
    </div>

</body>

</html>
